<template>
    <div>
        <!-- <hero></hero> -->
        <!-- <basic-elements></basic-elements>
        <inputs></inputs>
        <custom-controls></custom-controls>
        <navigation></navigation> -->
        <!-- <javascript-components></javascript-components> -->
        <!-- <icons></icons> -->
        <!-- <download-section></download-section> -->
        <examples></examples>
        <images></images>
    </div>
</template>
<script>
import Images from "./components/JavascriptComponents/Images";
import Examples from "./components/Examples";
// import Hero from "./components/Hero";
// import BasicElements from "./components/BasicElements";
// import Inputs from "./components/Inputs";
// import CustomControls from "./components/CustomControls";
// import Navigation from "./components/Navigation";
// import JavascriptComponents from "./components/JavascriptComponents";
// import Carousel from "./components/Carousel";
// import Icons from "./components/Icons";
// import DownloadSection from "./components/DownloadSection";

export default {
  name: "components",
  components: {
    Examples,
    Images,
    // Hero,
    // BasicElements,
    // Inputs,
    // CustomControls,
    // Navigation,
    // JavascriptComponents,
    // Carousel,
    // Icons,
    // DownloadSection
  }
};
</script>
